@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
body {
  font-family: 'Delicious Handrawn', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:hidden;
}
.panel{
  position: relative ;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  height: 100vh;
  cursor: pointer;
  border-radius: 50px;
  flex: 0.5;
}
.panel h3{
  position: absolute;
  left: 20px;
  color: limegreen;
  top: 90%;
  opacity: 0;
  font-size: 24px;
}
.panel.active{
  flex: 5;

}
.panel.active h3{
  opacity: 1;
}

